/*=================================================================
    FILE: normalize.css
    PURPOSE: Provides consistent basic browser styling.
=================================================================*/

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

main {
    display: block;
}

button,
input,
select,
textarea {
    font: inherit;
}
